body{
    background-color: aqua;
    height: auto;
    width: 100%;
}
h1{
    color: black;
    font-weight: 500;
    font-style: oblique;
}
p{
    background-color: blanchedalmond;
    color: black;
    font-size: medium;
}